extends base
    
block content
    div(class="container" style="margin:100px auto")
        h1 Add Book
        form(id="book-form")
            div
                label(for="title") Title
                input(type="text" name="" id="title" class="u-full-width")
            
            div
                label(for="author") Author
                input(type="text" name="" id="author" class="u-full-width")

            div
                label(for="isbn") ISBN
                input(type="text" name="" id="isbn" class="u-full-width")

            div
                input(type="submit" value="Submit" class="u-full-width")

