doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Book list
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
        style(type="text/css").
            .success, .error{
                color: white;
                padding: 5px;
                margin: 5px 0 15px 0;
            }

            .success{
                background: green;
            }
            .error{
                background: red;
            }

    body
        block content

        block script